<div>
    <div class="item" ng-class="{'down':component.TheStatus == 'Down', 'up':component.TheStatus == 'Up', 'performanceDegraded':component.TheStatus == 'PerformanceDegraded','replicaDown':component.TheStatus == 'ReplicaDown'}" >
        <div class="row no-padding">

            <table class="col-sm-9 col-lg-12 widget-right">
                <tr>
                    <td height="26px" style="color:white; overflow:inherit; font-size:9px" title="{{component.AppName}}" ng-click="showProperties()"></td>
                </tr>
            </table>

        </div>
    </div>
</div>


