<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <!--<add key="SwitchContext" value="Server=.; Initial Catalog=TheSwitch;Integrated Security=True;" />-->
  <!--Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Salisu Isa\Desktop\DejaVu\DejaVu.SelfHealthCheck\DejaVu.SelfHealthCheck.MonitorNew\App_Data\SelfHealthCheck.mdf";Integrated Security=True-->
  <appSettings>
    <add key="ConnectionString" value="Server=.;initial catalog=DejaVuSelfHealthCheck;User ID= sa;Password = P@ssw0rd" />
    <add key="SignalrUrl" value="http://localhost:9991/" />
    <add key="SetUpDejaVuCommands" value="true" />
    <add key="DejaVuCommandsMachineName" value="localhost" />
  </appSettings>
  <system.diagnostics>
     <!--<sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\BankOneMobile\BankOneMobileTrace.svclog" />
        </listeners>
      </source>
    </sources>-->
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener,                        Microsoft.VisualBasic, Version=8.0.0.0,                        Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,                        processorArchitecture=MSIL" initializeData="FileLogWriter" traceOutputOptions="None" location="Custom" customLocation="C:\Appzone\logs\SelfHealthCheck" logFileCreationSchedule="Daily" baseFileName="SelfHealthCheckLog" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
